* {
    &:focus {
        box-shadow: 0px 0px 0px 3px rgba($color: #0052D4, $alpha: 0.3);
    }
    body {
        background-image: url("../../img/bg/kristy-kravchenko-Ng12EyF84Yw-unsplash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .nav-2 {
        position: absolute;
        background-color: #fff;
        padding: 24px;
        bottom: 0;
        z-index: 100;
        box-shadow: 0px 0px 20px 0px rgba($color: #000000, $alpha: 0.2);
        ul {
            display: flex;
            list-style: none;
            li {
                display: flex;
                padding-right: 18px;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 0;
                a {
                    font-family: "okta1";
                    font-size: 27px;
                    text-decoration: none;
                    color: #000;
                }
                img {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                }
            }
        }
        box-shadow: none;
        background-color: rgba($color: #000000, $alpha: 0);
        padding: 16px;
        ul {
            li {
                user-select: none;
                -moz-user-select: none;
                transition: .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                padding-right: 0;
                background-color: #fff;
                //border: 2px solid #0052D4;
                width: 52px;
                height: 52px;
                border-radius: 10px;
                margin-right: 10px;
                padding: 10px;
                box-shadow: 0px 10px 10px 0px rgba($color: #000000, $alpha: 0.4);
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                }
                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
    .block-shout {
        display: flex;
        user-select: none;
        -moz-user-select: none;
        font-family: "namu";
        p {
            padding: 2px;
            color: #000;
            background-color: #fff;
        }
        a {
            text-decoration: none;
            color: #0052D4;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.tippy-box[data-theme~='theme1'] {
    background-color: #0052D4;
    color: rgb(255, 255, 255);
    font-family: "namu";
    font-size: 18px;
}
.tippy-box[data-theme~='theme1'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #002d77;
  }
  .tippy-box[data-theme~='theme1'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #002d77;
  }
  .tippy-box[data-theme~='theme1'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #002d77;
  }
  .tippy-box[data-theme~='theme1'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #002d77;
  }
.workspace-container {
    position: relative;
    width: 100%;
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
    #credit {
        display: flex;
        align-items: center;
        user-select: none;
        -moz-user-select: none;
        position: absolute;
        height: 30px;
        z-index: 1;
        font-family: "namu";
        font-size: 16px;
        color: #000;
        width: 100%;
        background-color: #fff;
        a {
            color: #0052D4;
        }
    }
    .workspace {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        //border: 2px solid rgb(238, 255, 0);
    }
}
.workspace-navbar {
    position: relative;
    width: 100%;
    height: 20%;
    //border: 2px solid orange;
}
.inliner {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.omt-wp_note {
    #dragger {
        cursor: move;
        position: relative;
        width: 50%;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.062);
    }
    #cross {
        width: 24px;
        height: 24px;
        background-size: cover;
        opacity: 0.5;
        cursor: pointer;
        background-image: url("../../img/OhMyTask_PNGs_ICOs/PNGs/cross.png");
        transition: 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover {
            opacity: 0.8;
        }
        &:active {
            background-blend-mode: hue;
            transform: scale(0.9);
        }
    }
    ::-moz-selection { /* Code for Firefox */
        color: rgb(255, 255, 255);
        background: rgb(0, 145, 255);
    }
    ::selection {
        color: rgb(255, 255, 255);
        background: rgb(0, 145, 255);
    }
    -moz-user-select: none;
    user-select: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px rgba($color: #000000, $alpha: 0.2);
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 10px;
    max-width: 600px;
    color: #000;
    font-family: "namu";
    padding: 30px;
    width: auto;
    height: auto;
    z-index: 0;
    input[type="text"] {
        font-family: "namu";
        padding: 5px;
        width: 262px;
        min-width: 262px;
        outline: none;
        max-width: 262px;
        border: 3px solid #0052D4;
        font-size: 18px;
        border-radius: 4px;
    }
    input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    input[type="button"] {
        border: 0;
        background-color: #0052D4;
        color: #fff;
        width: 100%;
        height: 40px;
        font-family: "namu";
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:active {
            transform: scale(0.9);
        }
    }
    input[type="date"] {
        font-family: "namu";
        width: 262px;
        min-width: 262px;
        outline: none;
        font-size: 18px;
        max-width: 262px;
        border-radius: 4px;
        padding: 6px;
        border: 3px solid #0052D4;
    }
    textarea {
        border: 3px solid #0052D4;
        margin-top: 10px;
        padding: 5px;
        width: 262px;
        height: 30px;
        font-family: "namu";
        outline: none;
        font-size: 18px;
        min-width: 262px;
        max-width: 262px;
        min-height: 30px;
        border-radius: 4px;
    }
}
.ws {
    position: absolute;
    height: 100%;
    width: 100%;
    //border: 2px solid red;
    .ws-container {
        position: relative;
        display: flex;
        height: 100%;
        #wscb-sep {
            display: flex;
            width: 100%;
        }
        .wsc-block {
            //border: 2px solid orange;
            width: auto;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            .sidepanel {
                background-color: #fff;
                width: 90px;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .sidepanel-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    #spc-separ-block {
                        .sp-icon {
                            margin-top: 15px;
                        }
                    }
                }
                .sp-icon {
                    width: 48px;
                    height: 48px;
                    background-size: cover;
                    cursor: pointer;
                    transition: 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    &:active {
                        transform: scale(0.9);
                    }
                }
                #si1 {
                    background-image: url("../../img/OhMyTask_PNGs_ICOs/PNGs/ico_profile.png");
                }
                #si2 {
                    background-image: url("../../img/OhMyTask_PNGs_ICOs/PNGs/ico_settings.png");
                }
                #si3 {
                    background-image: url("../../img/OhMyTask_PNGs_ICOs/PNGs/ico_shutdown.png");
                }
            }
        }
    }
    #pst_0 {
        font-family: "okta1";
        font-size: 20px;
    }
    #pst_1 {
        font-family: "rubik";
        font-weight: 300;
        font-size: 16px;
    }
    #nonselect {
        -moz-user-select: none;
        user-select: none;
    }
    #nc-fs-cont {
        max-height: 200px;
        overflow-y: auto;
        padding: 10px;
    }
    #nc-desc {
        border: 2px solid rgb(179, 179, 179);
        padding: 10px;
        p {
            width: 100%;
            height: 100%;
        }
    }
}